[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
psycopg2-binary = "*"
django-rest-auth = "*"
django-cors-headers = "*"
djangorestframework = "*"
requests = "*"
whitenoise = "*"
django-postgres-extensions = "*"

[dev-packages]

[requires]
python_version = "3.7"
